@use 'functions' as *;

body {
  margin: 0;

  &.frozen {
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
    overflow: hidden;
  }

  &.darken {
    background-color: color(neutral-1050);
  }
}

.word {
  background-color: color(neutral-1050);
}

.space {
  width: var(--cell-width);
  height: var(--cell-height);
}
